<div class="plus-btn">
    <dx-button
        (onClick)="okClicked($event)">
    </dx-button>

</div>
<dx-range-selector 
    id="range-selector"
    [value]="[startSelectedValue, endSelectedValue]">
   
    <dxo-margin [top]="100" [bottom]="00"></dxo-margin>
    
    
    <dxo-indent
        [left]="25"
        [right]="25">
    </dxo-indent>
    <dxo-scale
        [startValue]="startValue"
        [endValue]="endValue"
        [placeholderHeight]="20">
        <dxo-label>
        </dxo-label>
        
        
        <dxo-minor-tick-interval [minutes]="5">
        </dxo-minor-tick-interval>
        
        <dxo-tick-interval [hours]="1">
        </dxo-tick-interval>
    </dxo-scale>
    <dxo-slider-marker
        [placeholderHeight]="30">
    </dxo-slider-marker>
</dx-range-selector>