/* You can add global styles to this file, and also import other style files */
div.app {
    background-image: url("./assets/images/bg1.png");
    background-color: #33333324;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */

    width: 1100px;
    height: 400px;
    
    overflow: auto;    
    scrollbar-base-color:#ffeaff;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    margin: 80px auto;
    position: relative;
}

@media only screen and (max-width: 479px){
    div.app { 
        max-width: 100%; 
        margin: 0px;
    }
}